{% extends 'base.html.twig' %}

{% block title %}Ajouter une série{% endblock %}

{% block body %}
    <h1>Ajouter une série</h1>

    {% if response is same as('False') %}
    <span>Erreur lors de l'ajout de la série.<span>
    {% elseif response is same as('True') %}
    <span>Série ajoutée avec succès.</span>
    {% endif %}

    {{ include('series/_form.html.twig') }}

    <a href="{{ path('series_index') }}">Retour à la liste</a>
{% endblock %}
