{% extends 'base.html.twig' %}
{% block body %}
<p class="text-center" style="font-size:large;">
    {% if app.user %}
        Bonjour {{ app.user.name }} !
    {% else %}
        Bonjour ! Connectez-vous ou inscrivez-vous pour avoir accès à toutes les fonctionnalités.
    {% endif %}
</p>

<div class="d-flex justify-content-center">
    <a href=" {{ path('series_index') }} " class="btn btn-dark">Voir les séries</a>
</div>
{% endblock %}