{% extends 'base.html.twig' %}

{% block title %}À propos {% endblock %}
{% block stylesheets %}
    <style>
        * {
            margin:0;padding:0;
        }
        body {
            margin: auto;
            width:100%;
            font-family:sans-serif;
        }
        table {
            border-spacing:0px;
            border-collapse: collapse;
        }
        td, th {
            border-bottom:1px solid #aaa;
            padding:5px;
        }
        table tr:nth-child(odd) {
            background-color: #ededed;
        }

        table tr:nth-child(5) {
            font-style: normal;
        }
        thead th {
            background-color:#333;
            color:white;
            font-size:80%;
        }
        th {
            font-weight:normal;
            text-align:left;
        }
        tbody td {
            text-align:center;
            font-size:24px;
            text-shadow:1px 1px 1px  black;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row text-center">
    <h1>Groupe : S3-B</h1>
    <h2>AGUILA--MULTNER Adrien - COFFINOT Eliott</h2>
</div>
<div class="row">
    <div class="col">
    <table>
        <thead>
            <tr>
                <th width="500px" class="text-center">Fonctionnalité</td>
                <th class="text-center">Pas&nbsp;abordée</td>
                <th class="text-center">Pas&nbsp;terminée</td>
                <th class="text-center">Fonctionnelle</td>
                <th class="text-center">Commentaire (éventuel)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Une page d'accueil présentant le site</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Un menu facilitant la navigation dans le site</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Une page "à propos", décrivant le travail réalisé et précisant
                    la liste des auteurs du site (le binôme), et éventuellement les
                    difficultés rencontrées (ainsi que ce tableau)</th>
                <td></th>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Une page présentant l'ensemble des séries de la base de
                    données, l'affichage doit être paginé et il doit être possible de
                    rechercher des séries</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td>Utilisation du bundle KNP_Paginator. Nous n'avons pas réussi à appliquer bootstrap sur la pagination.</td>
            </tr>
            <tr>
                <th>La possibilité de naviguer dans les saisons d'une série, puis dans les épisodes</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td>Il n'y a pas de page pour les épisodes, mais leurs infos sont présentées dans la page des saisons.</td>
            </tr>
            <tr>
                <th>Chaque fois que c'est pertinent on affichera le poster de la série</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Chaque fois que c'est pertinent on affichera le trailer <em>YouTube</em></th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Chaque fois que c'est pertinent on affichera un lien vers la fiche <em>IMDB</em> de la série ou de l'épisode
                </th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>La possibilité pour un utilisateur de s'inscrire et de se connecter avec un suivi de session</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Respect des mesures classiques de sécurité (mot de passe non stocké en clair, CAPTCHA à
                    l'inscription...)</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td>Sauf pour l'inscription en tant qu'admin, qui n'est pas sécurisée. Lors de l'inscription, pour créer un compte admin, appuyer sur le bouton correspondant et tapez le mot de passe "superpassword"</td>
            </tr>
            <tr>
                <th>En étant inscrit et connecté seulement, possibilité de noter
                    une série, en ajoutant éventuellement un commentaire optionnel (table
                    <kbd>rating</kbd>)</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>En étant inscrit et connecté seulement, possibilité de classer
                    les séries par note moyenne croissante ou décroissante (en utilisant les
                    notes postées par les utilisateurs du site)</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>En étant inscrit et connecté seulement, possibilité de
                    "suivre" des séries (à l'aide de la table <kbd>user_series</kbd>) et ces séries
                    sont accessibles</td>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>En étant inscrit et connecté seulement, possibilité de marquer
                    un épisode comme vu ou non vu. De cette manière, l'utilisateur doit
                    pouvoir visualiser où il en est dans le visionnage d'une série. Il est
                    pertinent de remonter l'information dans la page "saisons"</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Un utilisateur administrateur doit pouvoir modérer les commentaires en les supprimant</th>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
            </tr>
            <tr>
                <th>Un administrateur devrait pouvoir incorporer des nouvelles séries dans la base de données à l'aide de l'API <em>OMDB</em></th>
                <td></td>
                <td></td>
                <td>X</td>
                <td>L'API ne donne pas le trailer youtube, et il manque parfois des informations. L'insertion de la série ne fonctionnera alors pas. Il faut avoir le code imdb de la série pour l'ajouter.</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
